*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


.flex-container {
        max-width: 700px;
        min-height: 300px;
        margin: 0 auto;
        border-radius: 5px;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
}
.flex-items {
       background: #88c1d0; 
       padding: 20px;
       border-radius: 5px;
       color: antiquewhite;
}



/* ***************MEDIA QUERIES**************** */

/*  Pour les écrans dont la résolution est comprise entre 1280px et 1680px*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
        .flex-container {
                display: flex;
                align-items: stretch;
                align-content: flex-start;
                flex-wrap: wrap;
                gap: 10px;
        }  
        .flex-items {
                width: calc(50% - 10px); /* Deux éléments par ligne avec un espacement de 10px */
        }
        
}

/* Pour les écrans dont la résolution est comprise entre 768px et 1279px */
@media only screen and (max-width: 767px) {
        .flex-container {
             flex-direction: column; 
             align-items: center;  
             justify-content: center;
             
        }
        .flex-items {
                width: 50%;;
        }
}
    
 


    



    

